.container {
  width: 100%
  background-image: url(image/blurSplatter.svg);

}

#logo {
	margin: auto;
	width: 50%;
	background-image: url(images/blurSplatter.svg);
	background-image-position
	text-align: center;
	font-family: futura;
	border-right: .5rem  black;
	border-left: .1rem dashed black;



}

.text {
	padding-top: -20rem;
	padding-bottom: 20rem;
	padding-right: 20rem;
	margin: auto;
}

#logo, svg {
	animation: move 7s infinite;
	
}

@keyframes move {
	0% {width: 1rem; opacity: .8; top: 0; right: 0}
	40% {width: 20rem; opacity: 1}
	50% {width: 4rem; opacity: 1}
	60% {width: 7rem; opacity: .8}
	70% {width: 2rem; opacity: 1}
	80% {width: 4rem; opacity: 0.8}
	90% {width: 2rem; opacity: 0.8}
	100% {width: 1rem; opacity: 0.8: color: #FFFFFF;}

}